---
layout: page
---

<section class="bg-dark" id="about">
	<div class="container">
			<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
							<h1 class="section-heading">Core Principles</h1>
							<hr class="primary">
                            <p class="text-muted">We are passionate about the work we do, and we follow a set of core principles in everything we undertake. It is these principles that helps us and the teams we work with to consistently succeed.</p>
                            <p class="text-muted">After decades of experience, we've found that these principles allow us to deliver consistently high quality outcomes for our clients and massively increase the overall efficiency of the work we do.</p>
                            <p class="text-muted">We invite you to adopt your own principles for your engineering teams, and encourage them to evaluate the work they do on a day to day basis against your principles. In doing so we think you'll see an overall increase in the consistency and predictability of the processes and systems being built.</p>
					</div>
			</div>
	</div>
</section>


<section class="bg-secondary" id="content-wrapper">
    <div class="container">

        {% for principle in site.principles %}

            <!-- Split into rows of 3 -->
            {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}

            {% if modulo == '0' or forloop.first %}
                <div class="row">
            {% endif %}

                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x {{ principle.icon }} wow bounceIn text-primary"></i>
                            <h3 class="text-muted">{{ principle.title }}</h3>
                            <p class="text-muted">{{ principle.excerpt }}</p>
                        </div>
                    </div>

            <!-- New row when we hit 2 -->
            {% if modulo == '2' or forloop.last %}
                </div>
            {% endif %}

        {% endfor %}

    </div>
</section>
