<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to Platform Engineering</h1>
            <hr>
            <p>Our highly experienced team will enable you to kick-start modern technology platforms in the right direction. Let us tackle the difficult problems and set your product and engineering teams on the path for success!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
